<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Реєстрація</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label>Ім'я користувача</label>
            <input type="text" th:field="*{username}" class="form-control"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" th:field="*{email}" class="form-control"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" th:field="*{password}" class="form-control"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>

        <label>Оберіть роль:</label>
        <select th:field="*{selectedRole}">
            <option value="ROLE_USER">Користувач</option>
            <option value="ROLE_ADMIN">Адмін</option>
        </select>

        <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
</div>
</body>
</html>
